@{   
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    
    <p>
        This application has the following working functions:
        <ul>
            <li>Menu: Home</li>
            <li>Menu: Privacy</li>
            <li>Menu: Help</li>
            <li>A counter of visits</li>
        </ul>
    </p>    
</div>